#allTheButtons {
  margin-top: 2%;
}

#leaderboardTableDiv {
  margin-top: 2%;
  margin-left:10%;
}

table {
  font-size: 28px;
}
#formAndButtons {
  margin: 0% 30% 0% 30%;
}

#theStats {
  margin-top: 2%;
}
#headersForStats {
  margin-top: 2%;
}